theme = "solarized-dark"
icons = "awesome"

#[[block.theme_overrides]]


[[block]]
block = "focused_window"
max_width = 50
show_marks = "visible"
format = "{combo}"


[[block]]
block = "net"
device = "wlan0"
format = "{ssid}  {speed_up} {speed_down}"
#format = "{ssid}@{ip}  {speed_up} {speed_down}"


[[block]]
block = "time"
interval = 5
format = "%R %a %m-%d-%y "


[[block]]
block = "memory"
display_type = "memory"
format_mem = "{mem_used}/{mem_total}({mem_used_percents})"
format_swap = "{swap_used}/{swap_total}({swap_used_percents})"
icons = true
clickable = true
warning_mem = 80
warning_swap = 80
critical_mem = 95
critical_swap = 95


[[block]]
block = "disk_space"
path = "/"
alias = "/"
info_type = "available"
unit = "GB"
interval = 20
warning = 20.0
alert = 10.0


[[block]]
block = "cpu"
format = "{utilization}"
interval = 1


#[[block]]
#block = "load"
#interval = 1
#format = "{1m}"

[[block]]
block = "sound"


[[block]]
block = "battery"
driver = "upower"
format = "{percentage}"
#if_command = "test -e /sys/class/power_supply/BAT0"

#[[block]]
#block = "custom"
#command = "xrandr --listmonitors | tail -n+2 | tr '+' ' ' | cut -d' ' -f 4 | tr '\n' ' '"
#interval = "once"
#signal = 4


